/* ———————————————————————————————————————————————
    # main.scss
————————————————————————————————————————————————— */

/* ———————————————————————————————————————————————
    [TABLE OF CONTENTS]
————————————————————————————————————————————————— */

/* ———————————————————————————————————————————————
# 1. Import Files
————————————————————————————————————————————————— */

// Handwriting Font
// @import url('https://fonts.googleapis.com/css?family=Tangerine:400,700');
// @import url('https://fonts.googleapis.com/css?family=Alex+Brush');

// Scss Essentials
@import "./scss-essentials/scss-bootstrap/bootstrap";

// Scss Plugins
@import "./scss-plugins/image-gallery/image-lightbox";
@import "./scss-plugins/progressive-image";
@import "./scss-plugins/swiper-slider";
@import "./scss-plugins/perfect-scrollbar";
@import "./scss-plugins/animate-on-scroll";
@import "./scss-plugins/background-parallax-scroll-effect";
@import "./scss-plugins/animate";

// Scss Theme
@import "./scss-theme/bg-image";
@import "./scss-theme/bootstrap-custom";
@import "./scss-theme/font-family";
@import "./scss-theme/color-classes";
@import "./scss-theme/helpers";
@import "./scss-theme/typography";
@import "./scss-theme/custom-variables";
@import "./scss-theme/buttons";

// @import "./scss-theme/demo-1";
@import "./scss-theme/demo-webonise";

/* ———————————————————————————————————————————————
# 2. Initialization
————————————————————————————————————————————————— */
html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    // font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $light-black-color;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: scroll;
}
a {
    outline: none;
    text-decoration: none;
    color: $light-black-color;
    transition: all .3s ease-in-out;
    cursor: pointer;
}
a:hover,
a:focus {
    text-decoration: none;
}
/* ———————————————————————————————————————————————
# 4. Browser Scrollbar
————————————————————————————————————————————————— */
// body {
//     &::-webkit-scrollbar {
//         width: 5px;
//         height: 5px;
//         display: none;
//     }
//     &::-webkit-scrollbar-button {
//         width: 0px;
//         height: 0px;
//     }
//     &::-webkit-scrollbar-thumb {
//         background: #e1e1e1;
//         border: 0px none #ffffff;
//         border-radius: 50px;
//         &:hover {
//             background: #ffffff;
//         }
//         &:active {
//             background: #000000;
//         }
//     }
//     &::-webkit-scrollbar-track {
//         background: #666666;
//         border: 0px none #ffffff;
//         border-radius: 50px;
//         &:hover {
//             background: #666666;
//         }
//         &:active {
//             background: #333333;
//         }
//     }
//     &::-webkit-scrollbar-corner {
//         background: transparent;
//     }
// }


/* ———————————————————————————————————————————————
# 5. Scroll To Top
————————————————————————————————————————————————— */
.scroll-top {
    .fa {
        color: gray;
        font-size: 1rem;
    }
    height: 45px;
    width: 45px;
    display: inline-block;
    position: fixed !important;
    bottom: -54px;
    right: 15px;
    background: rgba(gray, 0.5);
    padding: 10px 12px;
    color: $gray-color;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid rgba(255, 255, 255, 0.5);
    transition: all .3s ease-in-out;
}

textarea {
    outline: 0;
    max-width: 100%;
}

*:focus, *:active {
    outline: 0 !important;
    box-shadow: none !important;
}

@media (max-width: 575.99px) {}
@media (min-width: 575.99px) {}
@media (min-width: 768px) {}
@media (min-width: 1200px) {}

@media (min-width: 576px) and (max-width: 767.99px) {}

@media (min-width: 768px) and (max-width: 991.99px) {}

@media (min-width: 992px) and (max-width: 1199.99px) {}

.form-group { margin-bottom: var(--form-mb); }
.form-control, input.form-control { border-radius: var(--border-radius); } /* Input Field Border Radius */

/* ———————————————————————————————————————————————
   Utility Classes
————————————————————————————————————————————————— */
*:focus { outline: 0 !important; box-shadow: none !important; }
.float-left, .pull-left { float: left !important; }
.float-right, .pull-right { float: right !important; }
.clear_both { display: block; clear: both !important; content: ""; }

.text-primary, .text-blue, .text-link { color: #428bca; background-color: transparent; }
.text-gray { color: var(--text-gray) !important; }

.pos-relative, .position-relative { position: relative !important; }

.border-rounded { border-radius: 3px !important; }

.table-responsive { display: block; width: 100%; overflow-x: auto; }



/* Background color classes */
.bg-transparent { background-color: transparent !important; }

/* ———————————————————————————————————————————————
Define All Buttons Here
————————————————————————————————————————————————— */

/* Hover all button */
button, select, .btn, input[type=button], input[type=file], .img-link, .text-link { transition: all 0.3s ease-out; cursor: pointer; }
button:hover, select:hover, .btn:hover, input[type=button]:hover, input[type=file]:hover, .img-link:hover, .text-link:hover { cursor: pointer; }

ul.list-inline {
    list-style: none;
    li {
        display: inline-block;
    }
}