/*----------------------------------------------------------------------------------------------------
	typography.scss
----------------------------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
p, a, li, blockquote, pre, address, button, input, optgroup, select, textarea, .fa {
    color: #333333;
}
body {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
}
// h1, h2, h3, h4, h5, h6,
// .h1, .h2, .h3, .h4, .h5, .h6 {
//     font-family: 'Dosis', sans-serif;
// }
.inverse-typo {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6,
    p, a, li, blockquote, pre, address, .fa {
        color: #fff;
    }
}
.btn {
    cursor: pointer;
}
ol, ul {
  list-style: none;
}

::selection {
    color: #00ffbf;
    background-color: black;
}
h1::selection {color: hotpink; background: black; }
h2::selection {color: hotpink; background: black; }
h3::selection {color: hotpink; background: black; }
h4::selection {color: hotpink; background: black; }
h5::selection {color: hotpink; background: black; }
h6::selection {color: hotpink; background: black; }


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 135%;
}
h1, .h1 {font-size: 36px; }
h2, .h2 {font-size: 32px; }
h3, .h3 {font-size: 28px; }
h4, .h4 {font-size: 24px; }
h5, .h5 {font-size: 20px; }
h6, .h6, p, .p {
    font-size: 16px;
    line-height: 140%;
    margin-bottom: 1rem;
}

@media(max-width: 1024px) {
    h1, .h1 {font-size: 32px; }
    h2, .h2 {font-size: 29px; }
    h3, .h3 {font-size: 26px; }
    h4, .h4 {font-size: 23px; }
    h5, .h5 {font-size: 20px; }
    h6, .h6, p, .p {
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 1rem;
    }
}

@media(max-width: 768px) {
    h1, .h1 {font-size: 28px; }
    h2, .h2 {font-size: 26px; }
    h3, .h3 {font-size: 24px; }
    h4, .h4 {font-size: 22px; }
    h5, .h5 {font-size: 20px; }
    h6, .h6, p, .p {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 1rem;
    }
}

@media(max-width: 576px) {
    h1, .h1 {font-size: 26px; }
    h2, .h2 {font-size: 24px; }
    h3, .h3 {font-size: 22px; }
    h4, .h4 {font-size: 20px; }
    h5, .h5 {font-size: 18px; }
    h6, .h6, p, .p {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 1rem;
    }
}

h1.pri-banner-heading {}
.sec-banner-heading {}
p.ter-banner-heading {}

h2.pri-title-bold {}
.sec-title-bold {}
p.ter-title-bold {}

h2.pri-title-normal {}
.sec-title-normal {}
p.ter-title-normal {}

h2.pri-title-light {}
.sec-title-light {}
p.ter-title-light {}

