/* ——————————————————————————————————————————————————
	typography.scss
—————————————————————————————————————————————————— */


// 10px	0.625rem
// 11px	0.6875rem
// 12px	0.75rem
// 13px	0.8125rem
// 14px	0.875rem
// 15px	0.9375rem
// 16px	1rem

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
p, a, li, blockquote, pre, address, button, input, optgroup, select, textarea, .fa {
    color: #333333;
}
body {
    font-size: 0.75rem;
    // font-size: 1.6rem;
    // font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: var(--fw-bold);
}
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, p {
    margin-bottom: 0;
}
.inverse-typo {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6,
    p, a, li, blockquote, pre, address, .fa {
        color: #fff;
    }
}
.btn {
    cursor: pointer;
}
ol, ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

::selection {
    color: #00ffbf;
    background-color: black;
}
h1::selection {color: hotpink; background: black; }
h2::selection {color: red; background: black; }
h3::selection {color: rgb(160, 225, 255); background: black; }
h4::selection {color: rgb(240, 255, 105); background: black; }
h5::selection {color: rgb(105, 183, 255); background: black; }
h6::selection {color: rgb(123, 255, 105); background: black; }

// Responsive Typography As per used in Bootstrap
.title {
    font-size: calc(1.525rem + 3.3vw);
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 135%;
}
h1, .h1 {font-size: calc((var(--body-font) + 15px)); }
h2, .h2 {font-size: calc((var(--body-font) + 12px)); }
h3, .h3 {font-size: calc((var(--body-font) + 9px)); }
h4, .h4 {font-size: calc((var(--body-font) + 6px)); }
h5, .h5 {font-size: calc((var(--body-font) + 3px)); }
h6, .h6, p, .p {
    font-size: var(--body-font);
}

@media(max-width: 1024px) {
}

@media(max-width: 768px) {
}

@media(max-width: 576px) {
}